@import url('https://fonts.googleapis.com/css2?family=Taviraj:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200;1,300;1,400;1,600;1,700;1,800&display=swap');

:root {
    --header-font: 'Taviraj', serif;
    --body-font: 'Nunito', sans-serif;

    --bg-color: #000000;
    --page-color: rgb(22, 22, 22);

    --text-color: #c5c5c5;
    --icon-color: rgb(102, 102, 102);
    --bullet-color-closed: rgba(255, 255, 255, 0.2);
    --bullet-color: rgba(255, 255, 255, 0.1);

    --page-shadow: 0px 8px 14px rgba(0, 0, 0, 0.25);

    --color-primary: 47, 155, 249;
    --color-primary-contrast: #eee;
    --color-secondary: 133, 85, 200;

    --color-secondary-contrast: #eee;
}

/* CODE BLOCK STYLING */
/* modified from https://codemirror.net/demo/theme.html#night */
.rm-code-block {
    width: 100%;
}
.rm-code-block__settings-bar {
    display: none;
}
.cm-editor {
    background: var(--bg-color) !important;
    color: #f8f8f8 !important;
}
.cm-editor div {
    font-size: 14px !important;
}
.cm-selectionBackground {
    background: rgba(68, 68, 119, .99) !important;
}
.cm-gutters {
    background: var(--bg-color) !important;
    border-right: 1px solid #252525 !important;
}
.cm-gutterElement {
    color: #444 !important;
}
.cm-cursor {
    border-left: 1px solid white !important;
}
span.cm-qualifier {
    color: #666666 !important;
}
span.cm-comment {
    color: #C71FF9 !important;
}
span.cm-atom, .ͼf {
    color: #B58AFD !important;
}
span.cm-number, span.cm-attribute, .ͼc {
    color: #ffd500 !important;
}
span.cm-keyword, .ͼa {
    color: #599eff !important;
}
span.cm-string, .ͼd {
    color: #37f14a !important;
}
span.cm-meta {
    color: #369BFF !important;
}
span.cm-variable-2, span.cm-tag {
    color: #99b2ff !important;
}
span.cm-variable-3, span.cm-def, span.cm-type {
    color: white !important;
}
span.cm-bracket {
    color: #8da6ce !important;
}
span.cm-builtin, pan.cm-special {
    color: #ff9e59 !important;
}
span.cm-link {
    color: #845dc4 !important;
}
span.cm-error {
    color: #F41000 !important;
}
.cm-focused .cm-activeLine, .cm-focused .cm-activeLineGutter {
    background: #1C005A !important;
}
.cm-matchingbracket {
    outline:1px solid grey !important;
    color:white !important;
}

:root {
    --page-order: row;
}

.rm-block-text {
    max-width: unset;
}

body, #roam-toolkit-spatial-mode--mask {
    background-color: var(--bg-color);
}

h1, h2, h3,  h4, h5, h6, h1 > a, h2 > a, h3 > a, h4 > a, .rm-title-textarea {
    font-family: var(--header-font) !important;
    color: var(--text-color) !important;
}

h1.level2, h1.level2 > a, h2.level2 > a,
h1.rm-title-display, .rm-title-textarea {
    font-size: 34px !important;
    font-weight: 500 !important;
}
h1.level2, h1.level2 > a, h2.level2 > a{
    height: auto !important;
    line-height: 1.5 !important;
}
h1.rm-title-display, .rm-title-textarea {
    margin-left: 20px;
}

.bp3-button.bp3-minimal:hover {
    background: rgba(var(--color-primary), 0.4) !important;
    color: var(--text-color) !important;
}
.bp3-button.bp3-minimal::before, .bp3-button.bp3-minimal *, .bp3-button.bp3-minimal *::before {
    color: var(--icon-color) !important;
}
.bp3-button.bp3-minimal:hover::before, .bp3-button.bp3-minimal:hover *, .bp3-button.bp3-minimal:hover *::before {
    color: var(--text-color) !important;
}

a {
    color: rgb(var(--color-secondary));
}
div,
textarea {
    font-family: var(--body-font) !important;
    color: var(--text-color) !important;
    font-size: 16px;
    font-weight: 300;
}
.rm-level1,
.rm-heading-level-1 > .rm-block__self .rm-block__input,
.rm-level2,
.rm-heading-level-2 > .rm-block__self .rm-block__input,
.rm-level3,
.rm-heading-level-3 > .rm-block__self .rm-block__input {
    font-family: var(--body-font) !important;
    font-weight: 600;

}

h1 strong,
h2 strong,
h3 strong {
    font-weight: 800;
}
h1 .roam-block, h1 textarea {
    font-size: 30px;
}
h2 .roam-block, h2 textarea {
    font-size: 24px;
}
h3 .roam-block, h3 textarea {
    font-size: 20px;
}

.bp3-popover {
    color: var(--color-secondary-contrast) !important;
}

*[class*="bp3-icon"], *[class*="bp3-icon"]::before {
    color: var(--icon-color) !important;
}

.rm-highlight {
    background-color: rgba(175, 185, 13, .30)
}

.rm-block-ref {
    border-bottom: 2px solid rgba(var(--color-primary), 0.2)
}
.rm-block-ref:hover {
    background-color: rgba(var(--color-primary), 0.2);
}

.rm-alias--external, .rm-alias--external:hover {
    color: rgb(var(--color-secondary)) !important;
}

.rm-alias-block, .rm-alias-block:hover {
    color: rgb(var(--color-primary)) !important;
    font-weight: bold;
}

.rm-page-ref, .rm-alias--page, .rm-alias--page:hover {
    color: rgb(var(--color-primary)) !important;
    font-weight: 600;
}

[data-tag] {
    color: var(--color-primary-contrast) !important;
    background-color: rgb(var(--color-primary));
    padding: 2px 4px;
    font-size: 14px;
    border-radius: 4px;
    font-weight: 500 !important;
    position: relative;
    top: -1px;
}

.block-highlight-blue {
    background-color: rgba(var(--color-primary), 0.25)
}

.starred-pages a {
    color: rgb(var(--color-primary)) !important;
}

.version-bullet {
    background-color: rgb(var(--color-primary)) !important;
    color: var(--color-primary-contrast) !important;
}

.rm-bullet .rm-bullet__inner {
    background-color: var(--bullet-color);
}

.sidebar-content .rm-bullet.rm-bullet--closed .rm-bullet__inner,
.rm-bullet.rm-bullet--closed .rm-bullet__inner {
    border: 4px solid var(--bullet-color-closed);
    background-color: transparent;
}

.rm-saving-icon .rm-synced {
    background-color: rgb(var(--color-primary));
}
.rm-saving-icon .rm-saving-remote {
    background-color: rgb(var(--color-secondary));
}

/* set width and other attributes of pages */
.roam-article {
    padding: 0 !important;
}
.roam-article, #all-pages-search, .sidebar-content > * {
    margin: 30px 0px 100px 0px !important;
    box-sizing: border-box;
    height: auto !important;
}

/* -------------------------- */
/*         PAGE CARDS         */
/* -------------------------- */

.roam-article > div {
    padding: 20px 20px 30px 30px;
    background: var(--page-color);
    border-radius: 10px;
}

.roam-article > div:first-child, .sidebar-content > * > * {
    box-shadow: var(--page-shadow);
}

/* set min-width for collapsed sidebar*/
.sidebar-content > * {
    min-width: 58.5px;
}

.roam-body-main {
    top: 0 !important;
    height: 100% !important;
    width: auto !important;
    padding-left: 50px;
}

.roam-main {
    width: unset !important;
    max-width: 100% !important;
    height: 100%;

    overflow-x: scroll;
    overflow-y: hidden;
    transition: padding-left 0.15s ease-out;
}

/* -------------------------- */
/*       RIGHT SIDEBAR        */
/* -------------------------- */

#right-sidebar {
    display: inline-flex !important;
    vertical-align: top;
    background-color: transparent !important;
    border: none !important;
    flex-direction: row !important;
    padding-right: 100px;
}
/* hide icon to close sidebar */
#right-sidebar > .flex-h-box {
    display: none;
}

/* spacing and scrolling */
.sidebar-content > * {
    margin: 0 !important;
    overflow-x: visible;
    max-height: 100vh;
    padding: 30px 0px 100px 20px;
}
.sidebar-content > *:last-child {
    padding-right: 20px;
}

.sidebar-content {
    visibility: visible;
    display: flex !important;
    flex-direction: var(--page-order) !important;
    align-items: flex-start; /* allow pages to have their own height */
    justify-content: flex-end;
}

.roam-center > div:not(.rm-dnd-separator):first-child {
    padding: 0 !important;
}
.roam-body-main > * {
    display: inline-block;
}

.sidebar-content > *:not(.rm-dnd-separator) {
    display: block !important;
    margin-bottom: 200px;
    flex-shrink: 0;
}

#right-sidebar .rm-sidebar-outline-wrapper {
    margin-left: -12px;
}

#right-sidebar .rm-sidebar-window__controls {
    left: 28px;
    top: -28px;
}

.window-headers {
    padding: 0 0 58px 30px;
}
.window-headers .bp3-button {
    color: var(--icon-color) !important;
}
/* Reference count */
.window-headers .bp3-popover-wrapper {
    top: 22px;
    left: -10px;
}
/* Close button */
.window-headers .bp3-icon-cross {
    top: 23px;
    left: 0;
}
.window-headers > * {
    position: relative;
    top: 24px;
    right: 16px;
}
/* Funnel icon */
.rm-sidebar-window__controls > .bp3-popover-wrapper {
    position: relative;
    left: 12px;
}

.bp3-icon-pin {
    display: none;
}

.window-headers + div > div:first-child {
    margin-top: -35px !important;
    margin-right: -46px !important;
}

.sidebar-content > div > div {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 0 !important;
}

.sidebar-content > *:not(.rm-dnd-separator) > .flex-h-box {
    display: block !important;

    padding: 15px 10px !important;
}
.sidebar-content > *:not(.rm-dnd-separator) > div:not(.rm-dnd-separator) {
    background: var(--page-color);
}
.sidebar-content > *:not(.rm-dnd-separator) > div:not(.rm-dnd-separator):first-child {
    border-radius: 10px 10px 0px 0px;
}
.sidebar-content > *:not(.rm-dnd-separator) > div:not(.rm-dnd-separator):first-child:last-child {
    border-radius: 10px;
}
.sidebar-content > *:not(.rm-dnd-separator) > div:not(.rm-dnd-separator) > div:last-child:not(:first-child) {
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 50px !important;
}
.sidebar-content > div:not(.rm-dnd-separator) > div:not(.rm-dnd-separator):not(.flex-h-box) {
    padding: 0px 50px 0px 40px;
}
.sidebar-content > div:not(.rm-dnd-separator) > .flex-h-box > .bp3-button, #roam-right-sidebar-content .flex-h-box > .bp3-popover-wrapper {
    margin: auto !important;
    width: 20px !important;
    text-align: center;

}

.sidebar-content > div > div > div:last-child {
    padding: 8px 40px !important;
}

/* -------------------------- */
/*        LEFT SIDEBAR        */
/* -------------------------- */

/* HIDE LOGO*/
#roam-sidebar-logo {
    display: none;
}

.roam-sidebar-content * {
    color: var(--icon-color) !important;
}

.starred-pages > a > .page:hover {
    background-color: transparent !important;
    color: rgb(var(--primary-color)) !important;
}
.log-button * {
    /* this did not do what I expected */
    /* but it accomplished what I wanted */
    color: rgb(var(--primary-color)) !important;
}
.log-button {
    background: none !important;
}
.log-button:hover, .log-button:hover * {
    color: var(--text-color) !important;
}
.roam-sidebar-content {
    color: var(--text-color) !important;
}


.rm-topbar {
    opacity: 1 !important;
    background-color: transparent !important;

    margin-top: 70px;
    height: auto;
    width: 20px;
    display: inline-block;
    padding-left: 0 !important;
    position: sticky !important;

    left: 15px;
    transition: none !important;
    z-index: 999;

    border: none !important;
}

.roam-sidebar-container > .roam-sidebar-content::before {
    content: "";
    position: absolute;
    top: -70px; right: -68px;
    width: 400px;
    height: 100vh;
    background: var(--bg-color) !important;
    opacity: 0.65;
    z-index: -1;
}

.roam-sidebar-container {
    border: none !important;
    top: 0px !important;
    bottom: 0px !important;
    padding: 70px 68px 50px 0px;

    visibility: hidden; /* hide background */
    transition: all .25s ease-out;
    width: 300px !important;
    backdrop-filter: blur(4px);
    background: #000000 !important;

    overflow-y: auto;
}

.roam-sidebar-container > .roam-sidebar-content {
    display: block !important;
    height: auto !important;
    visibility: visible; /* show contents */
}
.roam-sidebar-container:not([style*="top: 0px"]) {
    left: -245px !important;
}
.roam-sidebar-container[style*="top: 0px"] + .roam-main {
    padding-left: 250px;
}

/* separator between "ALL PAGES" and "SHORTCUTS" */
.starred-pages-wrapper > div:first-child {
    background: var(--icon-color) !important;
    opacity: 0.5;
}

/* fix height with absolute positioning of email address */
.roam-sidebar-content > .flex-h-box {
    height: 40px;
}
.roam-sidebar-content > .flex-h-box > * {
    pointer-events: auto;
}
.roam-sidebar-content > .flex-h-box ~ * {
    pointer-events: all;
}
.roam-sidebar-content > .flex-h-box > .flex-h-box {
    position: absolute;
    left: 45px;
    top: 5px;
}

.rm-reference-item {
    background-color: transparent !important;
    padding: 0 !important;
    font-size: 13px !important;
}
.rm-inline-reference {
    background-color: var(--page-color)
}

/* -------------------------- */
/*         REFERENCES         */
/* -------------------------- */

.bp3-button[title="Convert all instances of this word or phrase into a link to this page"],
.bp3-button[title="Convert the text matching this page to a link to the page"] {
    color: var(--icon-color) !important;
    padding: 0px 7px !important;
    min-height: 24px;
}
.bp3-button[title="Convert the text matching this page to a link to the page"] {
    margin-right: 6px;
}

.rm-ref-page-view {
    background-color: #ffffff0a;
    padding: 12px 0px;
    margin: 12px 0px;
    border-radius: 4px;
}

.rm-ref-page-view-title a {
    color: #000000;
    font-weight: bold;
}

/* Make search icon like other buttons */
.rm-topbar .bp3-icon-search {
    padding: 4px;
    border-radius: 3px;
    margin: 0 !important;
    cursor: pointer;
}

/* style contains `200px` if search bar is NOT selected */
/* hovering search bar in this mode == hovering icon itself */
/* we must however have the search bar in front of the icon (but invisible) so that it can focus on click */
.rm-find-or-create-wrapper[style*="200px"]:hover .bp3-icon-search,
.rm-topbar .bp3-icon-search:hover {
    background-color: rgba(var(--color-primary), 0.4);
    color: var(--text-color) !important;
}
.rm-topbar .rm-sync {
    margin-top: 2px;
    margin-bottom: 1px;
}
.rm-topbar .bp3-icon-calendar {
    margin-left: -5px !important;
}
/* ... icon */
.rm-topbar .bp3-icon-more {
    margin-top: 5px;
}

/* Hide unused top bar buttons */
.rm-topbar .bp3-icon-horizontal-distribution,
.rm-topbar .bp3-icon-help,
.rm-topbar .bp3-icon-horizontal-distribution,
.rm-topbar .bp3-icon-menu-closed {
    display: none;
}

/* Search Icon */
.rm-find-or-create-wrapper {
    width: 20px !important;
    height: 30px !important;
    margin-top: 6px;
}
.roam-body-main {
    display: block;
}

/* -------------------------- */
/*       POPOVER STYLES       */
/* -------------------------- */

.bp3-menu-divider {
    border-color: rgba(255, 255, 255, 0.25) !important;
}
.bp3-text-small {
    color: var(--text-color) !important;
    opacity: 0.6;
}

.bp3-transition-container {
    /* not very good at these z-indexes huh? */
    z-index: 9999999999 !important;
}
.bp3-popover {
    min-width: 230px; /* fix width */
    pointer-events: none; /* prevent from getting in the way of hover*/
}
.bp3-popover .bp3-menu, .bp3-popover .bp3-popover-content {
    pointer-events: auto;
    background-color: var(--page-color) !important;
}

.bp3-popover .bp3-button {
    background: transparent !important;
    color: rgb(var(--color-primary)) !important;
    padding: 4px 14px !important;
    line-height: 2em;
    font-weight: 600;
    border-radius: 2em !important;
    border: 1px solid rgba(var(--color-primary), 0.5) !important;
    box-shadow: none !important;
}
.bp3-popover .bp3-button:hover {
    background: rgba(var(--color-primary), 0.2) !important;
}

.bp3-popover .bp3-popover-arrow svg * {
    fill: var(--page-color);
}

#app .bp3-popover .bp3-popover-arrow svg * {
    fill: rgb(var(--color-secondary));
    fill: var(--page-color);
}

body > .bp3-portal .bp3-menu {
    background-color: var(--page-color) !important;
}
body > .bp3-portal .bp3-popover-content, body > .bp3-portal .bp3-popover-content * {
    color: var(--text-color) !important;
}

/*
body > .bp3-portal *[style*="rgba(72, 176, 240, 0.5)"] {
    background-color: rgb(var(--color-primary)) !important;
    color: var(--color-secondary-contrast) !important;
}
body > .bp3-portal *[style*="rgba(72, 176, 240, 0.5)"] > span::before, body > .bp3-portal *[style*="rgba(72, 176, 240, 0.5)"] * {
    color: var(--color-secondary-contrast) !important;
}
*/
body > .bp3-portal .bp3-menu-divider {
    border-color: rgba(0, 0, 0, 0.2) !important;
}
body > .bp3-portal .bp3-text-small {
    color: rgba(0, 0, 0, 0.5) !important;
}

.emoji-mart {
    border: none !important;
}


/* -------------------------- */
/*      EMBEDDING BLOCKS      */
/* -------------------------- */
.rm-embed-container{
    background-color:var(--page-color) !important;
}

/* -------------------------- */
/*         SEARCH BAR         */
/* -------------------------- */

#find-or-create-input {
    opacity: 0;
    z-index: 10000; /* bring in front of icon to keep clickable */
    cursor: pointer;

    border-radius: 10px 10px 0px 0px;
    font-size: 18px;
    padding: 20px 20px;
}

#find-or-create-input:focus {
    opacity: 1;
    position: fixed;
    width: 600px;
    top: 100px;
    left: calc(50% - 600px / 2);
    cursor: text;
    /* highlight around search box */
    box-shadow: 0 0 0 1px rgb(var(--color-primary)), 0 0 0 3px rgba(var(--color-primary), 0.3), inset 0 1px 1px rgba(16,22,26, 0.2);
}

/* if input is empty (no menu) then use all-around border-radius*/
#find-or-create-input[value=""] {
    border-radius: 10px;
}

.rm-find-or-create-wrapper .bp3-overlay {
    position: fixed;
    width: 600px;
    top: 141px;
    left: calc(50% - 600px / 2 - 20px);
}
.rm-find-or-create-wrapper .bp3-overlay .bp3-popover {
    position: fixed;
}

.rm-find-or-create-wrapper .rm-new-page {
    color: rgb(var(--color-primary)) !important;
}

/* selected search result */
.rm-find-or-create-wrapper [style*="background"].rm-menu-item {
    background-color: rgb(65, 65, 65) !important;
}

/* shadow on regular search */
.bp3-overlay-open .bp3-popover {
    box-shadow: 0px 0 2px 2px rgb(0 0 0 / 0.6), 0 2px 4px rgb(0 0 0 / 0%), 0 8px 24px rgb(16 22 26 / 0%)
}

.bp3-input {
    background-color: var(--page-color) !important;
    color: var(--text-color) !important;
}
.bp3-input::placeholder {
    background-color: var(--page-color) !important;
    color: var(--text-color) !important;
    opacity: 0.3;
}

/* AUTOCOMPLETE BOX */

.rm-autocomplete__results {
    background: var(--page-color) !important;
    left: unset !important;
}
.rm-autocomplete__results [style*="background"].dont-unfocus-block,
.rm-search-list-item > span > span {
    background-color: rgba(var(--color-primary), 0.4) !important;
    color: var(--text-color);
}


/* -------------------------- */
/*       DATE PICKER          */
/* -------------------------- */

.bp3-datepicker{
    background-color:var(--page-color);
}

.DayPicker-Day:hover{
    background: rgb(var(--color-primary)) !important;
}

/* -------------------------- */
/*           MISC             */
/* -------------------------- */

/* better caret positioning in linked references */
.bp3-icon-caret-down::before {
    color: var(--bullet-color) !important;
}
.bp3-icon-caret-down {
    display: inline-block !important;
    /*margin-bottom: 8px;*/
    /* fix positioning when rotated 90 deg */
    /*transform-origin: 9px 13px;*/

}

/* QUERY */

.rm-query {
  border: 0.5px solid #38332e;
  border-radius: 10px;
}

.rm-query .rm-query-title {
  background-color: #38332e;
  font-size: .8em;
}

/* CHECKBOX */

.check-container {
    margin-right: 2px;
    vertical-align: text-bottom;
    top: -3px;
}

.check-container .checkmark {
    width: 14px;
    height: 14px;
}
.check-container .checkmark::after {
    left: 4.5px;
    top: 1px;
}
.check-container input[checked] + .checkmark {
    background-color: rgb(var(--color-primary)) !important;
}

blockquote {
    font-size: 14px;
    border-color: var(--bullet-color);
    opacity: 0.5;
}

code {
    background: #ffffff1c;
    border: none;
    color: var(--text-color);
    padding: 2px 5px;
    line-height: 0.5;
}

.rm-multibar {
    border-color: var(--bullet-color);
}

/* BUTTON */
.block-bullet-view .bp3-button:not([class*="bp3-icon"]) {
    background: transparent !important;
    color: rgb(var(--color-primary)) !important;
    padding: 4px 14px;
    line-height: 2em;
    font-weight: 600;
    border-radius: 2em !important;
    border: 1px solid rgba(var(--color-primary), 0.5) !important;
    box-shadow: none !important;
}
.block-bullet-view .bp3-button:hover {
    background: rgba(var(--color-primary), 0.2) !important;

}

/* ASTROLABE */
.loading-astrolabe {
    height: 100px;
    width: 100px;
    border-radius: 200px;
    margin: auto;

}

.loading-astrolabe {
    animation-name: orb_1;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes orb_1 {
    from {
        transform: scale(0.2);
        background: rgb(var(--color-secondary));
    }
    to {
        transform: scale(2);
        background: rgb(var(--color-primary));
    }
}

/* Hide original loader */
.loading-astrolabe img {
    display: none;
}

.bp3-spinner {
    visibility: hidden;
}
.bp3-spinner > * {
    visibility: visible;
}

.bp3-spinner-head {
    stroke: rgb(var(--color-primary)) !important;
}

.roam-center > div > div > div svg :not(.katex) {
    background-color: var(--bg-color) !important;
}

/* fix specific popover sizes and positions... */

.rm-topbar .bp3-popover-wrapper:nth-child(6) .bp3-popover,
.rm-topbar .bp3-popover-wrapper:nth-child(7) .bp3-popover{
    width: 600px;
    max-width: calc(100vw - 20px);
}
#roam-right-sidebar-content > div .flex-h-box > .bp3-popover-wrapper .bp3-transition-container {
    transform: translate3d(-15px, 41px, 0px) !important;
}
#roam-right-sidebar-content > div .flex-h-box > .bp3-popover-wrapper .bp3-transition-container .bp3-popover-arrow {
    left: 10px !important;
}

.rm-page-ref .rm-page-ref {
    font-style: italic;
}

.rm-page-ref .rm-page-ref:hover {
    text-decoration: overline;
}

#buffer {
    display: none !important;
}

.bp3-elevation-3 {
    box-shadow: 0px 0 2px 2px rgb(0 0 0 / 0.6), 0 2px 4px rgb(0 0 0 / 0%), 0 8px 24px rgb(16 22 26 / 0%);
}

.checkmark {
    top: -3px;
}

.parent-path-wrapper {
    opacity: 0.5;
}

b, strong {
    font-weight: 700;
}

.rm-ref-page-view-title a {
    font-weight: 600 !important;
    font-size: 18px;
    color: rgb(var(--color-primary)) !important;
}

.roam-toolkit-block-mode--highlight {
    background-color: #ffba4a2b !important;
}

.block-highlight-yellow {
    background: #ffff0008;
    border: 1px solid yellow;
}

.roam-toolkit--hint::after {
    font-size: 11px;
    font-style: italic;
    font-weight: 600;
    color: #ff9220;
    text-shadow: 0px 0px 3px black;
    opacity: 0.65;
    z-index: 999;
}

.roam-log-container .roam-log-page {
    border-top: 1px solid #444;
}

.rm-inline-references {
    background: var(--page-color);
}

/* Scroll per card */
#roam-right-sidebar-content {
    overflow: visible;
}

.sidebar-content > div {
    overflow: scroll;
}

.sidebar-content > div > div {
    border-bottom: none !important;
}

/* Content Types */
:root {
  --white: #eee;
}

span[data-link-title*='P: '] .rm-page-ref,
span.rm-page-ref[data-tag*='P: '],
span[data-link-title*='⏳'] .rm-page-ref,
span.rm-page-ref[data-tag*='⏳'] {
  /* Projects */
  border-radius: 3px;
  background: #df813c !important;
  color: var(--white) !important;
  padding: 2px 4px;
  font-weight: 500;
}

span[data-link-title*='R: '] .rm-page-ref,
span.rm-page-ref[data-tag*='R: '],
span[data-link-title*='📑'] .rm-page-ref,
span.rm-page-ref[data-tag*='📑'] {
  /* Resources */
  border-radius: 3px;
  background: #8255e8 !important;
  color: var(--white) !important;
  padding: 2px 4px;
  font-weight: 500;
  position: relative;
}

span[data-link-title*='Q: '] .rm-page-ref,
span.rm-page-ref[data-tag*='Q: '],
span[data-link-title*='🔍'] .rm-page-ref,
span.rm-page-ref[data-tag*='🔍'] {
  /* Questions */
  border-radius: 3px;
  background: #1ba2ac !important;
  color: var(--white) !important;
  padding: 2px 4px;
  font-weight: 500;
  position: relative;
}

span[data-link-title*='A: '] .rm-page-ref,
span.rm-page-ref[data-tag*='A: '],
span[data-link-title*='🖋'] .rm-page-ref,
span.rm-page-ref[data-tag*='🖋'] {
  /* Article for specific audience */
  border-radius: 3px;
  background: #a9bb52;
  color: var(--white) !important;
  padding: 2px 4px;
  font-weight: 500;
}

span[data-link-title*='M: '] .rm-page-ref,
span.rm-page-ref[data-tag*='M: '],
span[data-link-title*='🔮'] .rm-page-ref,
span.rm-page-ref[data-tag*='🔮'] {
  /* Opinions */
  border-radius: 3px;
  background: #53b0e1 !important;
  color: var(--white) !important;
  padding: 2px 4px;
  font-weight: 500;
}

/* Control Plane */
span[data-link-title='Choice'] .rm-page-ref,
span.rm-page-ref[data-tag='Choice'] {
  background: #dac5ff !important;
  color: #8b53bf !important;
}

/* Priorities */
span.rm-page-ref[data-tag='p1'] {
  border-radius: 3px;
  background: #ff7a4b !important;
  color: var(--white) !important;
}


span.rm-page-ref[data-tag='p0'] {
  border-radius: 3px;
  background: #ff5683 !important;
  color: var(--white) !important;
}


/* Spatial Mode */
.roam-toolkit--panel {
    background: var(--page-color) !important;
}

.roam-toolkit--panel::-webkit-scrollbar {
    width: 6px !important;
    background: transparent !important; /* Chrome/Safari/Webkit */
}
.roam-toolkit--panel::-webkit-scrollbar-thumb {
    width: 6px !important;
    background: rgba(255, 255, 255, 0.15);
}
.roam-toolkit--panel::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.35);
}
